$primary : #e8eaf8;
$on-primary: #162778;
$primary-container: #303f8f;
$primary-container-low: #303e8fcb;
$on-primary-container: #dde1ff;
$secondary: #d0d2eb;
$on-secondary: #2c2f42;
$secondary-container: #43465a;
$secondary-container-low: #43465ae7;
$on-secondary-container: #e0e1fa;
$tertiary: #e5bad7;
$on-tertiary: #44273e;
$on-tertiary-low: #44273ed2;
$tertiary-container: #5d3c55;
$on-tertiary-container: #ffd7f3;
$error: #ffb4a9;
$on-error: #680003;
$error-container: #930006;
$on-error-container: #ffdad4;
$background: #1b1b1f;
$background-low: #1b1b1fd7;
$on-background: #e4e1e6;
$surface: #1b1b1f;
$on-surface: #e4e1e6;
$outline: #90909a;
$surface-variant: #45464f;
$on-surface-variant: #c6c5d0;
