@import 'variables';
@import 'mixins';

.stats {
  > * {
    margin: 20px 0;
  }

  @include for-laptop {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "airing synopsis"
      "info synopsis"
      "producers studios";
  }
}

.airing {
  grid-area: airing;
}

.synopsis {
  grid-area: synopsis;
}

.more-info {
  grid-area: info;
}

.producers {
  grid-area: producers;
}

.studios {
  grid-area: studios;
}

.anime-details {
  display: flex;
  flex-direction: column;
  padding: 20px;

  p,
  li {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
  }

  .synopsis {
    font-size: 2rem;
    line-height: 1.3;

    p {
      padding: 10px;
    }
  }

  > * {
    margin: 20px 0;
  }
}

.anime-description {
  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  > * {
    padding: 2px 0;
    text-align: center;
  }
}

.genres {
  gap: 10px;
  justify-content: center;
  margin-top: 30px;

  li {
    font-family: 'Gill Sans', sans-serif;
  }
}

.details-box {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.genre-box {
  background-color: $on-primary-container;
  color: $background;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid $outline;
}

.title {
  font-size: 4rem;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $outline;

  @include for-laptop {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  @include for-big-laptop {
    font-size: 5rem;
  }
}

iframe {
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 16/9;

  @include for-laptop {
    padding: 50px;
  }

  @include for-big-laptop {
    max-height: 900px;
  }
}

.image-container {
  max-width: 400px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.anime-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin: 20px 0;
  }

  @include for-laptop {
    flex-direction: row;
    justify-content: center;

    .anime-description {
      margin-left: 30px;
    }
  }

  animation: slide-left 1s cubic-bezier(0.075, 0.82, 0.165, 1.2);
}
