nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 2rem 1rem;

  h1 {
    color: white;
    font-size: 2rem;
  }

  div {
    display: flex;
    gap: 2.5rem;
  }
}

svg {
  width: 25px;
  height: 25px;
}

.settings-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.801);

  button {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
