nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem;

  h1 {
    color: white;
    font-size: 2rem;
  }

  div {
    display: flex;
    gap: 2.5rem;
  }
}

svg {
  width: 25px;
  height: 25px;
}